__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.*.env
.env
.idea/
.vscode
.coverage
*.coverage
.coverage.*
.DS_Store
# local/prod env secrets
envs/example.local.env
envs/example.prod.env
